{
  "root": true,
  "parserOptions": {
    "ecmaVersion": "latest",
    "project": ["./tsconfig.json"],
    "sourceType": "module"
  },
  "plugins": ["node", "@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:node/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "node/no-missing-import": 0
  }
}
