*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'East Sea Dokdo';
    color: rgb(0, 4, 23);
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 4, 23);
    border-radius: 10px;
}
